<!doctype html>

<meta charset="utf-8">
<title>面倒くさいもぢんぐの日々</title>
<%= stylesheet_link_tag 'normalize' %>
<%= stylesheet_link_tag 'ModderBlack' %>


<header>
  <h1><a href="/">面倒くさいもぢんぐの日々</a></h1>
</header>

<main>
  <header>
    <h1><%= current_page.data.title %></h1>
  </header>
  <section>
    <%= yield %>
  </section>
</main>

<aside>
</aside>

<footer>
</footer>
