<!doctype html>

<meta charset="utf-8">
<title>面倒くさいもぢんぐの日々</title>
<%= stylesheet_link_tag 'normalize' %>
<%= stylesheet_link_tag 'ModderBlack' %>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<header>
  <h1><a href="/">面倒くさいもぢんぐの日々</a></h1>
</header>

<main>
  <header>
    <h1><%= current_page.data.title %></h1>
  </header>
  <section>
    <%= yield %>
  </section>
</main>

<aside>
</aside>

<footer>
  <span class="copyright">&copy; 2014 AtoCrafter</span>
  <a href="//twitter.com/AtoCrafter"><i class="fa fa-twitter"></i></a>
  <a href="//github.com/AtoCrafter"><i class="fa fa-github-alt"></i></a>
</footer>
